* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif, verdana, serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: #141922;
}

h5 {
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.mrg-left-10 {
    margin-left: 15px;
}

.mrg-left-15 {
    margin-left: 10px;
}

.mrg-top-15 {
    margin-top: 30px;
}

.mrg-top-12 {
    margin-top: 12px;
}

.mrg-top-160 {
    margin-top: 160px;
}

.mrg-top-50 {
    margin-top: 50px;
}

.fnt-size-20 {
    font-size: 23px;
    color: #fff;
}

.fnt-size-40 {
    font-size: 40px;
}

/* Sezione Upgrade */
.container-upgrade {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #010718;
    opacity: 0.6; 
    position: fixed;
    z-index: 2;
}

.box-upgrade {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}

.btn-upgrade {
    margin-right: 5px;
    align-self: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 13px;
}
/* Sezione Upgrade */

/* Sezione Menu */
.container-menu {
    width: 100%;
    height: 50px;
    background-color: #141922;
    display: flex;
    justify-content: center;
    margin-top: -60px;
    margin-bottom: 20px;
    float: right;
}

.box-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.select-bottom {
    margin-top: 5px;
    margin-left: 43%;
    width: 40px;
    box-sizing: border-box;
    border-bottom: 2px solid #ADFF2F;
}

.menu-header {
    display: flex;
    justify-content: center;
    height: 100%;
}

.menu-item {
    margin-top: 15px;
}

.menu-link {
    color: #7D7F84;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
}
/* Sezione Menu */

/* Sezione Song-list */
.container-songlist {
    width: 85%;  
    float: right; 
}

.box-songlist {
    width: 100%;
    height: 1350px;
    background-color: #141922;
}

.row {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
}

.song {
    width: 13vw;
    position: relative;
}

.play-song {
    position: absolute;
    top: 26%;
    left: 35%;
    font-size: 50px;
    color: #fff;
    display: none;
}

.play-song-2 {
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 50px;
    color: #fff;
    display: none;
}

h4 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.info-songlist {
    text-align: center;
    color: #787B7F;
    margin-top: 10px;
    font-size: 15px;
}

.info-title {
    color: #787B7F;
    margin-top: 10px;
    font-size: 13px;
    padding-left: 30px;
}

.img-row {
    width: 98%;
    margin-top: 25px;
}

.songlist-title {
    color: #fff;
    padding-left: 30px;
}

.circle {
    border-radius: 50%;
}
/* Sezione Song-list */

/* Sezione Sidebar */
.sidebar {
    width: 220px;
    height: 1100px;
    float: left;
    position: fixed;
    z-index: 3;
}

.container-sidebar {
    width: 100%;
    height: 1100px;
    background-color: #000;
    float: left;
}

.logo {
    width: 140px;
    padding-top: 20px;
    padding-left: 15px;
} 

.menu-side {
    margin-top: 15px;
}

.side-item {
    padding-left: 15px;
    margin-bottom: 8px;
    position: relative;
    list-style: none;
}

.select-left {
    box-sizing: border-box;
    border-left: 2px solid #ADFF2F;
}

.playlist-item {
    padding-left: 15px;
    list-style: none;
}

.side-link {
    font-size: 15px;
    color: #717171;
    position: absolute;
    bottom: 5px;
    left: 50px;
    font-weight: bold;
}

.playlist-link {
    font-size: 14px;
    color: #717171;
    line-height: 35px;
    font-weight: bold;
}

.crea-playlist {
    padding-left: 15px;
    margin-top: 20px;
    height: 50px;
    width: 75%;
    color: #717171;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

#playlist {
    height: 20px;
    position: absolute;
    top: 44px;
    left: 60px;
    color: #717171;
}

.menu-playlist {
    margin-top: 35px;
}

.fa-plus {
    color: #000;
    font-size: 40px;
    padding: 9px 9px;
    background-color: #717171;
}

.app {
    padding-left: 15px;
    padding-top: 380px;
}

.installa-app {
    color: #717171;
}

.separazione {
    height: 15px;
    width: 185px;
    box-sizing: border-box;
    border-bottom: 1px solid #717171;
}

.account {
    margin-top: 10px;
    position: relative;
}

.link-account {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

#user {
    font-size: 30px;
}

.name {
    position: absolute;
    top: 6px;
    left: 40px;
}
/* Sezione Sidebar */

/* Sezione Gestione */
.container-footer {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 4;
    bottom: 0;
}

.box-footer {
    width: 100%;
    height: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

.box-info {
    display: flex;
}

.info-brano {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.item-box {
    display: flex;
}

.artist {
    color: #fff;
    font-size: 15px;
}

.song-name {
    font-size: 13px;
    color: #717171;
}

.item {
    color: #717171;
}

#img-info {
    height: 45px;
    margin-left: 15px;
    margin-top: 15px;
}

.tempo {
    display: flex;
    flex-direction: row;
}

.barra-play {
    margin-top: 15px;
    width: 40%;
}

.barra-item {
    color: #fff;
}

.tempo {
    color: #fff;
    margin-top: 5px;
}

.barra-tempo {
    margin-top: 7px;
    height: 3px;
    width: 100%;
    box-sizing: border-box;
    border: 0px solid;
    background-color: #717171;
    border-radius: 50px;
    margin-right: 15px;
    margin-left: 15px;
}

.barra-tempo-white {
    height: 3px;
    width: 15%;
    background-color: #fff;
    box-sizing: border-box;
    border: 0px solid #fff;
    border-radius: 50px;
    position: relative;
}

.container-sound-item {
    margin-top: 40px;
    width: 250px;
    display: flex;
}

.gestione-tempo {
    width: 250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sound-item {
    margin-right: 15px;
    color: #fff;
    font-size: 14px;
}

.barra-white {
    height: 3px;
    width: 30px;
    background-color: #fff;
    box-sizing: border-box;
    border: 0px solid #fff;
    border-radius: 50px;
}

.barra-sound {
    margin-top: 7px;
    height: 3px;
    width: 120px;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 50px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #717171;
}

.pallino {
    height: 10px;
    width: 10px;
    box-sizing: border-box;
    border: 0px solid ;
    border-radius: 50px;
    background-color: #fff;
    margin-left: 98%;
    position: relative;
    bottom: 3px;
    display: none;
}
/* Sezione Gestione */

/* Hover */

/* Hover upgrade */
.btn-upgrade:hover {
    transform: scale(1.1);
}
/* Hover upgrade */

/* Hover menu */
.menu-link:hover {
    color: #fff;
}
/* Hover menu */

/* Hover sidebar */
.side-link:hover {
    color: #fff;
}
.fa-plus:hover {
    background-color: #fff;
}

#playlist:hover {
    color: #fff;
}
/* Hover sidebar */

/* Hover barra gestionale */
.playlist-link:hover {
    color: #fff;
}

.installa-app:hover {
    color: #fff;
}

.song-name:hover {
    color: #fff;
    text-decoration: underline;
}

.fa-heart:hover {
    color: #fff;
}

.fa-folder:hover {
    color: #fff;
}

.fa-play-circle:hover {
    transform: scale(1.2);
}

.barra-tempo:hover {
    cursor: pointer;
}

.barra-sound:hover {
    cursor: pointer;
}

.barra-tempo:hover .barra-tempo-white{
    background-color: #ADFF2F;
}

.barra-sound:hover .barra-white{
    background-color: #ADFF2F;
}

.barra-tempo:hover .pallino{
    display: block;
}

.barra-sound:hover .pallino{
    display: block;
}
/* Hover barra gestionale */

/* Hover song-list */
.song:hover .play-song{
    display: block;
}

.song:hover .play-song-2 {
    display: block;
}

.song:hover {
    cursor: pointer;
}

.song:hover .img-row {
    filter: contrast(115%) grayscale(80%);
}
/* Hover song-list */

/* Hover */

/* Responsive */
@media only screen and (max-width: 1299px) {

    .row {
        padding-left: 50px;
    }

    .songlist-title {
        padding-left: 50px;
    }
    
    .info-title {
        padding-left: 50px;
    }

}

@media only screen and (max-width: 1150px) {

    .row {
        padding-left: 70px;
    }

    .songlist-title {
        padding-left: 70px;
    }
    
    .info-title {
        padding-left: 70px;
    }

}

@media only screen and (max-width: 1000px) {

    .row {
        padding-left: 100px;
    }

    .songlist-title {
        padding-left: 100px;
    }
    
    .info-title {
        padding-left: 100px;
    }

    .box-menu {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 115px;
    }

}

@media only screen and (max-width: 991px) {

    .row {
        flex-wrap: wrap;
    }

    .song {
        width: 22%;
        font-size: 19px;
    }

    .info-songlist {
        font-size: 16px;
    }

    .playlist-link {
        font-size: 16px;
    }

    #playlist {
        font-size: 16px;
    }

    h5 {
        font-size: 18px;
    }

    .song-name {
        font-size: 14px;
    }

    .artist {
        font-size: 16px;
    }

    .container-menu {
        flex-wrap: wrap;
        margin-right: 40px;
        margin-bottom: 40px;
    }

    .menu-link {
        font-size: 18px;
    }

    .container-songlist {
        height: 1650px;
    }

}

@media only screen and (max-width: 900px) {

    .fnt-size-40 {
        font-size: 25px;
    }

    .gestione-tempo {
        justify-content: space-around;
    }

    .time {
        font-size: 13px;
    }

    .box-sound-item {
        width: 85px;
        display: flex;
        justify-content: flex-end;
    }

    .barra-tempo {
        width: 55%;
    }
}

@media only screen and (max-width: 767px) {

    .row {
        flex-wrap: wrap;
    }

    .songlist-title {
        padding-left: 120px;
    }
    
    .info-title {
        padding-left: 120px;
    }

    .song {
        width: 30%;
        font-size: 19px;
        padding: 0px 10px;
    }

    .info-songlist {
        font-size: 16px;
    }

    .playlist-link {
        font-size: 16px;
    }

    #playlist {
        font-size: 16px;
    }

    h5 {
        font-size: 18px;
    }

    .song-name {
        font-size: 14px;
    }

    .artist {
        font-size: 16px;
    }

    .container-menu {
        flex-wrap: wrap;
        margin-right: 20px;
        margin-bottom: 60px;
    }

    .menu-link {
        font-size: 20px;
    }

    .container-songlist {
        height: 1650px;
    }

    .box-sound-item {
        width: 85px;
        display: flex;
        justify-content: flex-end;
    }
    
    .barra-play {
        margin-right: 10px;
    }

    .tempo {
        padding-left: 40px;
    }

    .barra-tempo {
        width: 55%;
    }

    .time {
        font-size: 13px;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        left: 150px;
        bottom: 40px;
    }

    .fnt-size-40 {
        font-size: 23px;
    }

    .gestione-tempo {
        justify-content: space-around;
    }
}


/* Responsive */